:root {
  --mintwhite: #f8f9fa;
  --darkblack: #212529;
  --darkgrey: #343a40;
  --newgrey: #bebebe;
  --dirtywhite: #e9ecef;
  --dark: #1e1e1e;
  --lightgrey: #343a40;
  --black: #000000;
  --lightblue: #bde0fe;
  --darkblue: #023047;
  --white: #ffffff;
  --green: #606c38;
  --red: #b90504;
  --yellow: #ffc300;
  --blue: #0077b6
}
