<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="stylesheet" href="../assets/css/nav.css" />
    <link rel="stylesheet" href="../assets/css/buttons.css" />
  </head>
  <body>
    <div class="off-screen-menu">
      <ul>
        <li>Home</li>
        <li>My Resume</li>
        <li>Get Help</li>
        <li>Sign In</li>
        <li>Sign Up</li>
      </ul>
    </div>

    <nav>
      <span class="logo">
        <img src="#" alt="" />
      </span>
      <span class="nav-link">
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="my-resume.html">My Resume</a></li>
          <li><a href="get-help.html">Get Help</a></li>
          <li>
            <button class="btn btn-default">Sign In</button>
          </li>
          <li>
            <button class="btn-default success">Sign Up</button>
          </li>
        </ul>
      </span>
    </nav>
    <nav class="mobile">
      <span class="logo-mobile"></span>
      <div class="ham-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
    <script src="../assets/js/scripts.js"></script>
  </body>
</html>
