@import url(assets/css/root-color.css);
@import url(assets/css/fonts.css);

body {
    background-color: var(--mintWhite);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--darkgrey);
    max-width: 940px;
    margin: 0 auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--newGrey);
    font-size: var(--big);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--x-large);
}

h4 {
    font-size: var(--large);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: 15px;
}

p {
    font-size: var(--medium);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.item {
    margin: 0 1.25rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero-img {
    border-radius: 0.5rem;
    height: 400px;;
    
}

.item2 {
    order: 0;
    /* position: relative;
    top: 300px; */
    
    
}

.item1 {
    order: 1;
    /* position: absolute;
    z-index: 2; */
}